.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 10%;

  &__descr {
    max-width: 585px;
    line-height: 198.68%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-dark-text);

    @media screen and (max-width: 1024.98px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 646px) {
      padding: 10px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 402px;
    object-fit: contain;

    @media screen and (max-width: 1600px) {
      margin-left: 15px;
    }

    @media screen and (max-width: 1024.98px) {
      margin-left: 0;
    }

    @media screen and (max-width: 646px) {
      max-width: unset;
    }
  }

  @media screen and (max-width: 1600px) {
    padding-left: 50px;
  }

  @media screen and (max-width: 1024.98px) {
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  @media screen and (max-width: 646px) {
    margin: 70px 0 0;
    padding: 0;
  }
}