@import "../mixins";

.mobile-header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 70px;
  background-color: var(--color-white-text);

  @media screen and (max-width: 1024.98px) {
    display: flex;
  }
}

.burger {
  --burger-width: 37px;
  --burger-height: 25px;
  --burger-line-height: 2px;

  @include burger;
}
