<div class="contacts-section site-content">
  <div class="contacts-section__item">
    <h2 class="contacts-section__name">Sergei Fedorov</h2>
    <a href="tel:+79197681256" class="contacts-section__phone">+7(919)768-12-56</a>
    <a href="mailto:billystoun@yandex.ru" class="contacts-section__mail">billystoun@yandex.ru</a>
    <a href="" class="contacts-section__inst">
      <svg class="contacts-section__icon">
        <use xlink:href="img/sprite.svg#inst">
      </svg>
      @lflab
    </a>
  </div>
  <div class="contacts-section__item">
    <span class="contacts-section__position">Scout</span>
    <h2 class="contacts-section__name">Slugina Ekaterina</h2>
    <a href="tel:+79778249512" class="contacts-section__phone">8(977)824-95-12</a>
    <a href="mailto:katushka.slugina02@mail.ru" class="contacts-section__mail">katushka.slugina02@mail.ru</a>
    <a href="" class="contacts-section__inst">
      <svg class="contacts-section__icon">
        <use xlink:href="img/sprite.svg#inst">
      </svg>
      @katty_queen_
    </a>
  </div>
</div>