<div class="latest-slider site-content">
  <div class="latest-slider__wrapper">
    <div class="latest-slider__descr">
      <div class="latest-slider__name">Dasha</div>
      <div class="latest-slider__date">03.20</div>
      <div class="latest-slider__text">Work in several galleries throughout New York.</div>
    </div>
    <div class="latest-slider__photo">
      <div class="latest-slider__photo-item">
        <img src="img/latest-slider-111.jpg" alt="" class="latest-slider__image">
      </div>
      <div class="latest-slider__photo-item">
        <img src="img/latest-slider-2.jpg" alt="" class="latest-slider__image">
      </div>
      <div class="latest-slider__photo-item">
        <img src="img/latest-slider-3.jpg" alt="" class="latest-slider__image">
      </div>
      <div class="latest-slider__photo-item">
        <img src="img/latest-slider-4.jpg" alt="" class="latest-slider__image">
      </div>
      <div class="latest-slider__photo-item">
        <img src="img/latest-slider-5.jpg" alt="" class="latest-slider__image">
      </div>
    </div>
    <div class="latest-slider__nav">
      <div class="latest-slider__nav-item">
        <img src="img/latest-slider-1.jpg" alt="" class="latest-slider__thumbnail">
      </div>
      <div class="latest-slider__nav-item">
        <img src="img/latest-slider-2.jpg" alt="" class="latest-slider__thumbnail">
      </div>
      <div class="latest-slider__nav-item">
        <img src="img/latest-slider-3.jpg" alt="" class="latest-slider__thumbnail">
      </div>
      <div class="latest-slider__nav-item">
        <img src="img/latest-slider-4.jpg" alt="" class="latest-slider__thumbnail">
      </div>
      <div class="latest-slider__nav-item">
        <img src="img/latest-slider-5.jpg" alt="" class="latest-slider__thumbnail">
      </div>
    </div>
  </div>
</div>
