<div class="menu">
  <a class="menu__logo" href="#">
    <img src="img/logo.svg" alt="Logo">
  </a>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li class="menu__list-item menu__list-item--active"><a class="menu__list-link" href="#">Latest</a></li>
      <li class="menu__list-item"><a class="menu__list-link" href="#">Portfolio</a></li>
      <li class="menu__list-item"><a class="menu__list-link" href="#">About Me</a></li>
      <li class="menu__list-item"><a class="menu__list-link" href="#">Contacts</a></li>
    </ul>
  </nav>
  <ul class="menu__lang">
    <li class="menu__lang-item menu__lang-item--active"><a class="menu__lang-link" href="#">ENG</a></li>
    <li class="menu__lang-item"><a class="menu__lang-link" href="#">RU</a></li>
  </ul>
</div>