<div class="portfolio-grid">
  <a href="img/portfolio-img-1.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-2.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-2.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-3.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-3.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-4.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-4.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-5.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-5.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-6.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-6.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-7.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-7.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-8.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-8.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-9.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-9.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/portfolio-img-10.jpg" class="portfolio-grid__link">
    <img src="img/portfolio-img-10.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
</div>
