<div class="portfolio-grid">
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
  <a href="img/latest-slider-1.jpg" class="portfolio-grid__link">
    <img src="img/latest-slider-1.jpg" alt="" class="portfolio-grid__image">
  </a>
</div>